*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(13, 8, 8);
}

.container{
    position: relative;
    
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(212, 225, 211);
    border: 3px solid rgb(9, 236, 47);
    box-shadow: 0px 0px 30px rgba(237, 235, 108, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i))); 
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
    color: rgb(210, 0, 0);
  
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1d0447;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
  
   
}

.Mumbai{

    color: rgb(22, 1, 1);
    background-color: none;
    border-radius: 4px;
    position: absolute;
    display: flex;
    z-index: 2;
    font-size: 7px;
    }